.main{
    padding: 0px 150px;
}
.container{
    margin: auto;
    background: white;
    padding: 30px 55px;
    height: 100%;
}

.container h1{
    font-size: 40px;
    font-weight: 600;
}

.titleButtons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controlSheetButtons{
    display: flex;
    align-items: center;
}

.controlSheetButtons img{
    cursor: pointer;
    margin-left: 25px;
}

.controlSheetButtons img:hover{
    background-color: #1D94C9;
}


